@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Your-Preferred-Font', sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  margin-bottom: 1.25rem;
}

@layer base{
  table{
    @apply min-w-full divide-y divide-gray-200
  }
  td{
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider cursor-pointer
  }
  table{
    @apply bg-transparent
  }
  input{
    @apply mb-4 p-2 border-b border-gray-300 focus:outline-none
  }
}